body{

background-color: #EFF1F1;
margin: 0;

}

.container{

  width: 100vw;
}

/*  <div class="container" style="background-color: #B2EBF2;">

                       
                        <div class="row text-center ">
                            <div class="row col col-md-6 col-sm-12 position-relative">

                                <div class="col col-md-4 col-sm-8 mt-3 mb-3 text-center">
        
                                    <p class="mt-4">Conozca el estado de la ejecuci&oacute;n en <b>Jenkins</b></p> 
                                    <a href="${env.BUILD_URL} " target="_bank"><button type="button" class="btn btn-warning">Ir a Jenkins</button></a>
                                    
                              </div>
                              <div class="col col-md-2 col-sm-4 text-center mt-3 mb-3 align-item-center">
                                <img class="img-responsive"src="https://i.imgur.com/5zc24YS.png" alt="logo-serenity">
                              </div>
     
     
     
     
     
                             </div>
                        
                        <div class="row col col-md-6 col-sm-12 position-relative">

                            <div class="col col-md-4 col-sm-8 mt-3 mb-3 text-center">
    
                                <p class="mt-4">Mire el informe de resultados de ejecuci&oacute;n de <b>Serenity</b></p> 
                                <a href="${urlEvidencia}" target="_bank"><button type="submit" class="btn btn-warning">Ir al Informe </button></a>
                                
                          </div>
                          <div class="col col-md-2 col-sm-4 text-center mt-3 mb-3 align-item-center">
                            <img class="img-responsive"src="https://i.imgur.com/zuIbUrp.png" alt="logo-serenity">
                          </div>
 
 
 
 
 
                         </div>

                       </div>
                    </div>*/